xml/Relax NG Exercise 2/relax_litz_02.rnc

start = recipe
recipe = element recipe {title, desc, (ing | step | result)+}

title = element title {text}

desc = element desc { intro, mixed {(origin | owner | teach | time)*}}
intro = attribute intro {xsd:ID}
origin = element origin {when,text}
when = attribute when {xsd:ID}
owner = element owner {person,text}
person = attribute person {xsd:ID}
teach = element teach {when,text}
time = element time {created,text}
created = attribute created {xsd:ID}


step = element step {recipes?, num?, type?, mixed { (recipe | item | yielded | bake | step )*}}


num = attribute num { xsd:float}
ing = element ing {mixed { (butter | sugar | mace | cinn | egg | flour)*}}
item = element item {tool,text}
tool = attribute tool {xsd:ID}
bake = attribute bake {xsd:ID}
yielded = element yielded {type,text}
type = attribute type {xsd:ID}
result = element result {text}
butter = element butter {num,text}
sugar = element sugar {num,text}
mace = element mace {num,text}
cinn = element cinn {num,text}
egg = element egg {num,text}
flour = element flour {num,text}
recipes = attribute recipes {xsd:ID}*